body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: linear-gradient(to top, #28536B, #F6F0ED);
}

h1 {
    text-align: center;
    color: #ffffff;
}

fieldset {
    margin-top: 35px;
    border: blue;
    padding: 20px;
    background: linear-gradient(to top, #6B2D5C, #7EA8BE);
    border-radius: 15px;
}

legend {
    font-size: 24px;
    margin-bottom: 10px;
    padding: 0 10px;
}

form {
    margin-bottom: 20px;
}

form.submit-form {
    margin-top: 10px;
}

label {
    display: block;
    margin-top: 10px
}

input[type="number"] {
    padding: 5px;
    width: 100px;
}

button[type="submit"] {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

p {
    margin: 10px;
}