body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, snow, lightslategrey);
}

.container {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.sidebar {
    flex-basis: 15%;
    padding: 25px;
    margin-left: -30px;
    margin-top: -20px;
    background-color: white;

}

.content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    width: 75vw;
}

.topbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: right;
}

 .table-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}


.submenu {
    display: none;
}

h1 {
    margin-top: 20px;
    color: black;
    text-align: center;
    font-family: 'Calligraffitti', cursive;
    font-size: 50px;
}

h2 {
    margin-top: 10px;
    color: red;
    text-align: center;
}

img {
    max-width: 100%;
    height: 100%;
    border-radius: 40%;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #007bff;
}

.product-image {    
    max-width: 100%;
    max-height: 100%;
    max-height: 250px; /* Ajuste a altura m�xima conforme desejado */
    border: 2px solid #ccc;
    border-radius: 2px;
}

.product-container {
    width: 100%;
    margin: 10px;
    padding: 15px;
    display: flex;
    gap: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.container-description {
    width: 100%;
    padding: 20px;
}

.product-title {
    font-size: 24px;
    font-weight: bold;
    color: #1C5253;
    margin-bottom: 10px;
}

.product-description {
    font-size: 16px;
    color: #333;
    text-align: justify;
}

.product-quantity-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-quantity-btn input[type="number"] {
    width: 50px;
    margin-right: 10px;
}

.product-quantity-btn button {
    background-color: #1C5253;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 200px;
}

.highlight {
    background-color: black;
}

.sidebar ul {
    margin: 0;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar img {
    max-width: 100%;
    height: auto;
}

.fcc-btn {
    color: #1C5253;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}
